.App {
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  background-color: cadetblue;
  min-width: 50rem;
  border: 2px solid black;
}

footer {
  background-color: cadetblue;
  min-width: 50rem;
  border: 2px solid black;
}

.grocery__app {
  min-height: 50rem;
  min-width: 50rem;
}

.additem {
}
.additem__input {
  width: 90%;
}
.additem__button {
}

.item {
  display: flex;

  align-items: center;
}
.item__input {
}
.item__name {
  flex: 0 0 80%;
}
.item__name-checked {
  text-decoration: line-through;
}
.item__delete {
}
